body {
  @include body-font;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.arrow {
  &-right {
    background-image: url("/img/arrow-right.svg");
    background-repeat: no-repeat;
    height: 8px ;
    width: 21px;
  }
}
.footer {
  border-top: 1px solid #DFE2E3;
  padding: 50px 0;

  &__text {
    margin-top: 32px;

    &-copyright {
      display: flex;
      justify-content: flex-end;
      margin-top: 75px;
      @media (max-width: 767px) {
        justify-content: flex-start;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (min-width: 991px) and (max-width: 1107px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @media (max-width: 767px) {
      display: none;
    }

    ul {
      list-style: none;
    }
  }

  &-item {


    list-style: none;

    a {
      color: #1A5371;
      font-weight: 700;
      text-decoration: none;
      margin-left: 70px;
      @media (max-width: 767px) {

      }
    }
  }
}

.about {
  background-color: #ffffff;
  margin: 50px 0;

  &__bg {
    background-color: #F4F8FA;
  }

  &__overlay {
    margin-left: 70px;
  }

  &__title {
    color: #1A5371;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin-top: 80px;
    margin-bottom: 30px;
    max-width: 363px;

  }

  &__text {
    margin-bottom: 47px;
  }

  &__media {
    position: relative;

    img {
      width: 100%;

    }

  }

  &__service {
   &-ada {
     position: relative;
     padding-left: 30px ;
     &:after {
       content: "";
       position: absolute;
       top:0;
       left: 0;
       background-repeat: no-repeat;
       background-image: url("/img/ico.svg");
       width: 23px;
       height: 24px;

     }
   }
    &-wcag{
      position: relative;
      padding-left: 30px ;

      &:after {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
        background-image: url("/img/world.svg");
        width: 25px;
        height: 25px;

      }
    }
  }
}

.solution {
  &__block {
    border: 1px solid #DFE2E3;
    position: relative;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: #1A5371;

    margin-left: 72px;

    &:after {
      content: "";
      position: absolute;
      background-image: url("/img/shape_1.svg");
      background-repeat: no-repeat;
      width: 23px;
      height: 20px;
      left: 35px;
      top: 18px;
    }
  }

  &__text {
    color: rgba(59, 83, 96, 0.7);
    line-height: 25px;
  }
}

.sidebar {
  &__post {
    background-color: #F4F8FA;
    margin-bottom: 25px;
  }
  &__title {
    font-size: 20px;
    line-height: 30px;
    color: #1A5371;
    font-weight: bold;
  }
  &__link {
    position: relative;
    text-decoration: underline ;
  }
  &__img {
    max-width: 100%;
  }
  &__text {

  }
}
.price {
  border: 1px solid #DFE2E3;
  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    color: #1A5371;
  }
  &__list {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background-image: url("/img/done.svg");
      width: 16px;
      height: 12px;
      left: -22px;
      top: 6px;
    }
  }
  &__text {
    max-width: 400px;
    line-height: 25px;
  }
  &__btn {
    background: #FE7F5A;
    box-shadow: 0px 2px 0px #DB603C;
    border-radius: 60px;
    padding: 10px 33px;
    color:#ffffff;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  &__rating {
    width: 70px;
    height: 40px;
   &-title {
     font-size: 25px;
     color: #ffffff;
   }
    &-green {
      background-image: url("/img/rating-1.svg");
    }
    &-red {
      background-image: url("/img/red-1.svg");
    }
  }
}