body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}


.footer {
  border-top: 1px solid #DFE2E3;
  padding: 50px 0;

  &__text {
    margin-top: 32px;

    &-copyright {
      display: flex;
      justify-content: flex-end;
      margin-top: 75px;
      @media (max-width: 767px) {
        justify-content: flex-start;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (min-width: 991px) and (max-width: 1107px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @media (max-width: 767px) {
      display: none;
    }

    ul {
      list-style: none;
    }
  }

  &-item {


    list-style: none;

    a {
      color: #1A5371;
      font-weight: 700;
      text-decoration: none;
      margin-left: 70px;
      @media (max-width: 767px) {

      }
    }
  }
}

.about {
  background-color: #ffffff;
  margin: 50px 0;

  &__bg {
    background-color: #F4F8FA;
  }

  &__overlay {
    margin-left: 70px;
  }

  &__title {
    color: #1A5371;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin-top: 80px;
    margin-bottom: 30px;
    max-width: 363px;

  }

  &__text {
    margin-bottom: 47px;
  }

  &__media {
    position: relative;

    img {
      width: 100%;
      max-height: 400px;
    }

  }
  &__service {

  }
}

